@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reports";
}

<main>
    <div class="header">
        <div class="left">
            <h1>Reports</h1>
        </div>
    </div>

</main>