@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Member";
}

@section Styles {
    <style>
        .tab-buttons {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
        }

        .tab-button {
            padding: 10px 20px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            transition: color 0.3s;
            font-size: 16px;
        }

        .tab-button.active {
            color: #6200ea;
            border-bottom: 3px solid #6200ea;
        }

        .tab-content {
            padding: 20px;
            display: none;
        }

        .tab-content.active {
            display: block;
        }
    </style>
}

<main>
    <div class="header">
        <div class="left">
            <div class="tab-buttons">
                <button class="tab-button active" onclick="showTab('Team_details')">Team</button>
                <button class="tab-button" onclick="showTab('Shifts')">Shifts</button>
            </div>
            <button id="create-user-button" class="create-user-button">Create New User</button>
        </div>
    </div>

    <div id="Team_details" class="tab-content active">
        <h2>Team</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto optio blanditiis quasi sequi cumque aliquid
            ea nesciunt perspiciatis, ducimus similique itaque, esse vel asperiores pariatur reiciendis ipsum dolores
            repellat iste.</p>
    </div>

    <div id="Shifts" class="tab-content">
        <h2>About</h2>
        <p>About content goes here.</p>
    </div>

</main>

@section Scripts {
    <script>
        function showTab(tabId) {
            // Hide all tab contents
            var tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(function (tab) {
                tab.classList.remove('active');
            });

            // Remove active class from all buttons
            var buttons = document.querySelectorAll('.tab-button');
            buttons.forEach(function (button) {
                button.classList.remove('active');
            });

            // Show the selected tab content
            document.getElementById(tabId).classList.add('active');

            // Add active class to the corresponding button
            event.currentTarget.classList.add('active');
        }
    </script>
}
