@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<main>

    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("GeneralAnalytics", "Dashboard")" class="link-button active">Analytics</a>
                </li>
                /
                <li>
                    <a href="@Url.Action("ShopAnalytics", "Dashboard")" class="link-button">Shop</a>
                </li>
            </ul>

        </div>
    </div>
    <h2>In Analytics we should add like Arbox</h2>
</main>