* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 14px;
}

.no-appointment, .no-tasks, .no-services {
    color: #ffffff;
    text-align: center;
}

.add-appointment {
    color: #0099ff;
    cursor: pointer;
    text-align: center;
}

.upgrade {
    text-align: center;
    margin-top: 10px;
}

.upgrade a {
    color: #007bff;
    text-decoration: none;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.filter {
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
}
