@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Schedule";
}

<main>
    <div class="header">
        <div class="left">
            <h1>Deals Coming soon</h1>
        </div>
    </div>

</main>