@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Communication";
}

<main>
    <div class="header">
        <div class="left">
            <h1>Communication</h1>
        </div>
    </div>
    <!-- Insights -->

</main>